$accent: #5282F8;
$default: #2b2b2b;
$secondary: #7F8288;

%circe-400{
  font-family: 'Circe-Regular', sans-serif;
  font-weight: 400;
}
%circe-700{
  font-family: 'Circe-Bold', sans-serif;
  font-weight: 700;
}
%roadradio-700{
  font-family: 'RoadRadio-Bold', sans-serif;
  font-weight: 700;
}
%berlingske-700{
  font-family: 'BerlingskeSerif-Bold', sans-serif;
  font-weight: 700;
}